* {
    padding: 0px;
    margin: 0px;
}

.flex-container{
width: 100%;
height: 100%;
/* background: linear-gradient(180deg, #FFFFFF 0%, #A9C6F1 100%); */
/* background-image: url(img/fondoTriangulos.svg); */
background-image: url(img/fondoTriangulosClaro.svg);
display: flex;
flex-direction: column;
justify-content: center;
}


.navBar{
background: #76ACDE;
height: 40px;
padding-left: 40px;
padding-right: 40px;
display: flex;
justify-content: space-between;
align-items: center;
}

.logo{
    height: 40px;
    width: 40px;
}

.title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 72px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #5C90C0;
    padding-top: 40px;
}

.subtitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 50px;
    padding-bottom: 25px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #000000;
}

.selector{
    display: flex;
    justify-content: center;
}

select {
    background: white;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 100px;
 }

.numberSelector{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    background: #AFB9D2;
    border-radius: 20px;
    width: 35%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.textContainers{
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.arrowButton{
    margin-left: 50px;
    margin-right: 50px;
    align-self: center;
}

.container{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
    height: 230px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

textarea{
    padding: 20px;
}